.contentContainer {
    display: flex;
    flex-direction: column;
    margin-left: 232px;
    background-color: #F6F7F8;
}

.contentContainerPadding {
    padding-left: 116px;
    /* padding-right: 96px; */
    padding-top: 110px;
    padding-bottom: 127px;
}