header{
    margin-left: 232px;
    position: relative;
    z-index: 10;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 17px;
    background-color: #f8f9fa;
    padding-right: 40px;
    padding-left: 116px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px #0000001A;
    margin: 0;
    position: relative;
    z-index: 10;
}

.headerIcons{
    display: flex;
    align-items: center;
    gap: 12px;
}

.loginPageHeader {
    position: absolute;
    top: 0;
    right: 0;
}

.loginPageHeaderContent {
    display: flex;
    justify-content: end;
    margin-top: 67px;
    margin-right: 122px;
    gap: 35px;
}